body{
    overflow: hidden !important;
    height: 100vh !important;
}

#loading{
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: .8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img{
    opacity: 1;
    width: 10em;
}

#visualization {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    min-width: 819px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden !important;
}

#resizable {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left {
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    overflow: auto;
}

#middle {
    height: 100vh;
    width: 70%;
    font-family: 'Raleway', sans-serif;
    z-index: 0;
}

#right {
    width: fit-content;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#right img {
    max-width: 100%;
    height: 100vh;
    width: auto\9;
    /* ie8 */
    opacity: 0.25;
}

.sortFilter {
    padding: 1em;
}

.sortFilter h1 {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #3FB8AF;
    font-size: 2em;
    margin-bottom: 1em;
}

.sortFilter input[type="text"] {
    width: 97%;
    height: 1.5em;
    margin-right: .2em;
    margin-top: .3em;
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.sortFilter select {
    width: 100%;
    height: 2em;
    margin-top: .3em;
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.sortFilter option {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.sortFilter label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#gen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: .3em;
    margin-bottom: 1.5em;
    font-family: 'Raleway', sans-serif;
}

#HP, #Chance {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .5em;
    margin-bottom: 4em;
}

.verticalCheckbox {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.noUi-tooltip {
    bottom: -32px !important;
    font-family: 'Raleway', sans-serif;
}

#middle #header-row {
    height: 2.5em;
    border-bottom: solid 2px #3FB8AF;
    color: #3FB8AF;
    font-weight: bold;
    align-items: flex-end;
    padding-bottom: .5em;
}

#table-contents {
    overflow-y: auto;
    height: calc(100% - 3em);
}

#middle .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    height: 2em;
}

#table-contents .table-row:nth-child(odd) {
    background-color: #fbfbfb;
}

#table-contents .table-row:hover {
    background-color: #edfaff;
}

#table-contents .table-row#selectedPokemon {
    background-color: #f5ffed !important;
}

div.name-col {
    width: 30%;
}

div.type1-col, div.type2-col {
    width: 15%;
    font-weight: bold;
}

div.gen-col, div.hp-col {
    width: 5%;
    text-align: right;
}

button#filter-reset {
    background-color: #3FB8AF;
    color: white;
    border: none;
    padding: 1em 2em 1em 2em;
    float: right;
}

button#filter-reset:hover {
    background-color: #9ccf76;
    transition: background-color .5s;
}

#no-pokeomon p {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pokemon-details {
    padding: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Raleway', sans-serif;
}

.pokemon-details .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    height: 15em;
}

.pokemon-details .image img {
    max-width: 100%;
    max-height: 100%;
}

.pokemon-details #close-button {
    background-color: transparent;
    border: none;
    opacity: 1;
}

.pokemon-details #close-button:hover {
    opacity: 0.5;
    transition: opacity .5s;
}

.pokemon-details img#close-button {
    width: 1.5em;
}

.pokemon-details #name h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: bold;
}

.pokemon-details #types {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-weight: 1em;
}

.pokemon-details #types *, .pokemon-details #dimensions * {
    padding: .5em;
    padding-top: 1em;
}

.pokemon-details .main-details{
    font-size: 1em;
    text-align: center;
    margin-bottom: .5em;
}

.pokemon-details hr {
    border-top: .5px solid #efefef;
    margin-top: 1.5em;
}

.pokemon-details .detail-header{
    text-align: center;
    color: #3FB8AF;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
}

.pokemon-details .spawnLocations, .pokemon-details #abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 0;
}

.pokemon-details .spawnLocations p, .pokemon-details #abilities p {
    font-size: 1em;
    margin-top: 1em;
    height: 1em;
}

.pokemon-details .spawnLocations #spawnLocationNames{
    font-weight: bold;
}

.pokemon-details .emphasized{
    color: #3FB8AF;
    font-weight: bold;
}

.pokemon-details #dimensions{
    display: flex;
    font-size: 1em;
    justify-content: center;
}

.pokemon-details #dimensions b{
    font-weight: bold;
}

#d3-tip #poke-tooltip{
    line-height: 1.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    width: 12em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000000;
    border-radius: 2px;
}

#d3-tip #spawnInfo {
    margin-top: 1em;
}

#d3-tip h1 {
    font-size: 1.3em;
    font-weight: bold;
} 

#d3-tip #image {
    width: 100%;
    height: 7em;
}

#d3-tip #image img{
    max-width: 100%;
    max-height: 100%;
}

#info-button img{
    width: 1.5em;
}